[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
alembic = "*"
psycopg2 = "*"
sqlalchemy = "*"
uvicorn = {extras = ["standart"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
faker = "*"
libgravatar = "*"
python-jose = "*"
passlib = "*"
python-multipart = "*"
fastapi-mail = "*"
redis = "*"
fastapi-limiter = "*"
python-dotenv = "*"
django = "*"
pymongo = {extras = ["tls"], version = "*"}
mongoengine = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.5"
