[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
fastapi = "*"
passlib = "*"
jose = "*"
uvicorn = "*"
alembic = "*"
pydantic = "*"
psycopg2 = "*"
faker = "*"
libgravatar = "*"
python-jose = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.5"
